{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.my-grid {
		border: 1px solid blue;
	}
	.my-grid-item {
		border: 1px solid black;
	}

</style>

<div class="container">

	<div class="my-grid d-flex flex-row">
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item <span class="material-icons">accessibility_new</span></p>	
	</div>

	<div class="my-grid d-flex flex-column mt-4">
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
		<p class="my-grid-item m-auto">Item</p>	
	</div>




    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Link
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>



	

</div>

{% endblock content %}